


.App{
    text-align: center;
}

.grids {
    margin-top:10px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: black;
    padding: 10px;
   
}

.trending {
    text-align: center;
    background-color:black; 
}

.button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button:hover {
    background-color: #555555;
    color: white;
}

.submit {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.submit:hover {
    background-color: #555555;
    color: white;
}

